@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

/* font-family: 'Big Shoulders Display', cursive; */
/* font-family: 'Big Shoulders Display', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(0, 0%, 95%);
}

.container {
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
}

.column-1 {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.column-1, .column-2, .column-3 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 1px solid black;
    background: hsl(31, 77%, 52%);
    margin-left: 1.5rem;
    margin-right: 1.5rem; 
    border: transparent;
}

.column-1 .sedans-image, .column-2 .suvs-image, .column-3 .luxury-image{
    margin-left: 2.5rem;
    margin-top: 3rem;
}

.column-1 .sedans-heading, .column-2 .suvs-heading, .column-3 .luxury-heading{
   font-family: 'Big Shoulders Display', cursive;
   color: hsl(0, 0%, 95%);
   margin-top: 2rem;
   margin-left: 2.5rem;
}

.column-1 .about-sedans, .column-2 .about-suvs, .column-3 .about-luxury {
    font-family: 'Lexend Deca';
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 2rem;
    margin-left: 2.5rem;
    font-weight: 100;
    font-size: 1.0625rem;
    margin-right: 1.5rem;
}

.column-1 .btn-sedans, .column-2 .btn-suvs, .column-3 .btn-luxury{
    text-decoration: none;
    color: hsl(31, 77%, 52%);
    background: hsl(0, 0%, 95%);
    margin-left: 2.5rem;
    margin-top: 2rem;
    padding: 0.8rem 1.7rem;
    border-radius: 1.5rem;
    margin-bottom: 2.7rem;
    font-family: 'Lexend Deca';
}

.column-2 {
    margin-top: 0;
    background: hsl(184, 100%, 22%);
}

.column-2 .btn-suvs {
    color:hsl(184, 100%, 22%);;
}

.column-3 {
    margin-top: 0;
    background: hsl(179, 100%, 13%);
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.column-3 .btn-luxury {
    color: hsl(179, 100%, 13%);
}

@media (min-width: 768px) {
   .container {
       display: flex;
       margin: 150px 200px;
   }

   .column-1 {
       margin-right: 0;
       border-radius: 0.4rem 0 0 0.4rem;
   }

   .column-2 {
       margin-right: 0;
       margin-left: 0;
   }

   .column-3 {
       margin-left: 0;
       border-radius: 0 0.4rem 0.4rem 0;
   }
}
